<div>
    <h1>Item List</h1>
    <a class="btn btn-default" ui-sref="root.itemNew">Create new item</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Identifier</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.items">
                <td>{{$index + 1 }}</td>
                <td><a ui-sref="root.ItemDetails({ id: item.id })">{{item.id}}</a></td>
                <td><a ui-sref="root.ItemDetails({ id: item.id })">{{item.name}}</a></td>
                <td>{{item.quantity}}</td>
                <td>{{item.size}}</td>
            </tr>
        </tbody>
    </table>
</div>